<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <script src="code.js" defer></script>
    <title>Sign Up</title>
</head>

<body>
    <main class="Main">
        <div class="Main-card">
            <div class="Main-content">

                <div class="Main-image">
                    <img src="./assets/img/peeps-avatar-alpha.png" alt="" />
                </div>
                <h2>Sign-up</h2>

                <div class="Main-icon">
                </div>

            </div>
            <form class="Main-form">
                <input autocomplete="off" spellcheck="false" class="control" type="text" placeholder="Your name" />
                <div id="spinner" class="Spinner"></div>
                <input autocomplete="off" spellcheck="false" class="control" type="text" placeholder="Your username" />
                <div id="spinner" class="Spinner"></div>
                <input autocomplete="off" spellcheck="false" class="control" type="email" placeholder="Your email" />
                <div id="spinner" class="Spinner"></div>
                <div class="password-container">
                    <input spellcheck="false" class="control" id="password" type="password" placeholder="Password" required />
                    <button type="button" class="toggle-password">
                        <i class="fas fa-eye"></i>
                    </button>
                </div>
                <div class="password-checker">
                    <select name="model" class="dropdown" id="dropdown-model">
                        <option value="default" disabled selected>Choose the model</option>
                        <option value="pwstat_lib">PasswordStats Library</option>
                        <option value="dt_rg">Regression - DecisionTree</option>
                        <option value="rf_rg">Regression - RandomForest</option>
                        <option value="knn_rg">Regression - KNearestNeighbors</option>
                        <option value="lgbm_rg">Regression - LightGBM</option>
                        <option value="sv_rg">Regression - Support Vector</option>
                        <option value="dt_cl">Classification - DecisionTree</option>
                        <option value="rf_cl">Classification - RandomForest</option>
                        <option value="knn_cl">Classification - KNearestNeighbors</option>
                        <option value="lgbm_cl">Classification - LightGBM</option>
                        <option value="sv_cl">Classification - Support Vector</option>
                        <option value="linear_rg">Linear Regression</option>
                      </select>
                    <input type="button" value="Verify" class="check-pw-btn" id="check-pass">
                </div>
                <div id="bars">
                    <div class="color-bars"></div>
                </div>
                <div class="strength" id="strength"></div>
                <button class="control">Sign-up</button>
            </form>
        </div>
    </main>
</body>

</html>